<div class="container">
	<form role="form" ng-submit="" name="surveyNameForm" novalidate>
		<fieldset>
			<div class="form-group">
				<div>
					<label class="btn btn-default">
						<input type="text" value="Form Name" name="formName" ng-model="formName"/>
						<span style="color:red" ng-show="surveyNameForm.user.$dirty && surveyNameForm.formName.$invalid">
  						<span ng-show="surveyNameForm.formName.$error.required">Form Name is required.</span>
							<br>
					</label>
					<label class="btn btn-default">
						<input type="text"  value="Form Description" name="formDescription" ng-model="formDescription" />
						<span style="color:red" ng-show="surveyNameForm.formDescription.$dirty && 		surveyNameForm.formDescription.$invalid">
  						<span ng-show="surveyNameForm.formDescription.$error.required">Form Description is required.</span>
						<br>
					</label>
				</div>
				<div>
					<label class="btn btn-default">
						<input type="submit" value="Next" type="submit"
ng-disabled="surveyNameForm.formName.$dirty && surveyNameForm.formName.$invalid ||  
surveyNameForm.formDescription.$dirty && surveyNameForm.formDescription.$invalid"/>
					</label>
				</div>	
			</div>
		</fieldset>
	</form>
</div>